.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.navigationLink:hover {
  color: #ffa31a;
}

.userName {
  color: #ffa31a;
  margin-right: 0.9rem;
  font-size: 1rem;
}

.logoutButton {
  background: transparent;
  border: 1px solid #ffa31a;
  color: #ffa31a;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.logoutButton:hover {
  background-color: #ffa31a;
  color: #292929;
}
.username {
  color: #ffa31a;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
